*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 80;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 40px; */
    background: rgb(18, 18, 18);
}

h1 {
    font-size: 8vmin;
    color: #ccc;
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.412);
    margin-bottom: 60px;
    /* overflow-y: hidden; */
}

.lettre {
    display: inline-block;
    /* color: orange; */
    transform: translateY(100px);
    opacity: 0;
}

.loader {
    display: flex;
    gap: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s;
}

.loader.active {
    opacity: 1;
    transform: translateY(0);
}

.loader>div {
    width: 30px;
    height: 30px;
    font-size: 8px;
    border-radius: 50%;
    background: rgb(230, 230, 230);
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.459); */
    transform: scale(1);
}

.shadow {
    opacity: .05;
}